[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
motor = "*"
ujson = "*"
uvloop = "*"
aiohttp = {extras = ["speedups"], version = ">=3.7.4"}

[dev-packages]

[requires]
python_version = "3.9"

